<div class="remodal" data-remodal-id="detailni_funkcni_procesni_a_datova_analyza" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Detailed functional, process and data analysis</h2>
    <p>We are concerned with each project with an outstanding care for the preparation.<br />
    Before we start whatever design or programming, we perform a detailed analysis of the solved environment, especially enterprise customers.</p>
    <p>System for us is not just an information system. The system is the entire environment: people, tasks, data, processes, customers, suppliers, etc.</p>
    <p>We use UML (Unified Markup Language) for the analysis, which allows us to make a schematic mapping of the entire research environment.</p>
    <p><strong>Solely based on a detailed analysis of the whole solved environment (the orgaization and its surroundings), we can design a perfect information system.</strong></p>
    <p>For the analysis, we use modern tools, particularly <a href="https://www.visual-paradigm.com/">Visual Paradigm</a> app.</p>
    <p>Among the most commonly used models are:</p>
    <ul>
      <li>Business Process Diagram.</li>
      <li>Use-case diagram.</li>
      <li>Class diagram.</li>
      <li>others as demanded.</li>
    </ul>
    <p><strong>We are analysts. We often provide to our customers a new perspective on their own business and its functioning.</strong></p>
    <p><strong>Do you want to use our skills and experience in the analysis? Contact us!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="navrh_informacniho_systemu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Information system design</h2>
    <p>50% of the succes of the project is the assignment. Our programming is always based on the precise preparation. </p>
    <p>Detailed design of the Information System always brings:</p>
    <ul>
      <li>User interviews - discussions with existing / future users</li>
      <li>Basic system entities description</li>
      <li>Significant system invirons description</li>
      <li>Catalougue of the operational and non operational requirements</li>
      <li>Basic wireframes</li>
      <li>Prototype composed of the wireframes created</li>
      <li>Prototype user testing</li>
      <li>User roles specfication</li>
      <li>Design and the description of the way of the application interface integration</li>
      <li>The plan of the integration and the integration tests</li>
      <li>Implementation phases description</li>
      <li>Information system hardware dimensions description</li>
      <li>The implemention plan, trainng, testing and the launch</li>
      <li>Detailed price calculation</li>
      <li>The plan of the development and the maintenance</li>
    </ul>
    <p><strong>Nechte si navrhnout Váš nový informační systém od zkušených odborníků.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="tvorba_analytickych_modelu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Analytic model creation</h2>
    <p>The Information system development is not only programming. A detailed system analysis and design is integral and very important part of the performance. <br />Thre are highly developed diagrams UML (Unified markup language) to design the structured project.</p>
    <p>We use modern tools for the analysis, particularly <a href="https://www.visual-paradigm.com/">Visual Paradigm</a> app.</p>
    <p>Among the most commonly used models are:</p>
    <ul>
      <li>Business Process Diagram.</li>
      <li>Use-case diagram.</li>
      <li>Class diagram.</li>
      <li>others as demanded.</li>
    </ul>
    <p><strong>We are analysts. We often provide to our customers a new perspective on their own business and its functioning.</strong></p>
    <p><strong>Do you want to use our skills and experience in the analysis? Contact us!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="programovani" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Programming</h2>
    <p>Our developers are experienced, diligent and well-educated.</p>
    <p>We use a range of advanced web applications for the development. Some of them are:</p>
    <table>
      <tr>
        <td><strong>Backend:</strong></td>
        <td>Ruby on Rails</td>
      </tr>
      <tr>
        <td><strong>Frontent:</strong></td>
        <td>Ember, HTML5</td>
      </tr>
      <tr>
        <td><strong>Mobile:</strong></td>
        <td>Cordova</td>
      </tr>
    </table>
    <p>We use a lot of other  technologies for the development, those help us to develop a perfect, user-friendly, fast and secure web-based information systems, web and mobile applications. Those applications are usually very complicated and difficult.</p>
    <p>There comes programming after the previous software architecture proposal prepared by an experienced senior system architect.There is always a number of our team members  involved in the development based on their expertise in a given part of the developed application.</p>
    <p><strong>Get in touch with a team of iQuest developers. You can rely on iQuest that it will create a solid modern information system!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="systemova_integrace" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>System integration</h2>
    <p>An automatic communication of our applications with their surroundings is natural. Each system has its own specialization and nothing should be doubled in programming. We usually integrate our information systems with already completed applications. </p>
    <p>Completed either by the customer or by a third party.
    <br/>Some examples are:</p>
    <ul>
      <li>Integration with an accounting systems.</li>
      <li>Integration with the warehouse system.</li>
      <li>Integration with a corporate intranet.</li>
      <li>Applications with ERP or CRM system.</li>
      <li>Integration with the corporate or third parties databases.</li>
      <li>Integration of supplier or customer systems (automatic transmission of purchase orders, invoices, inventory info, etc ...).</li>
      <li>Integration of available Internet services.</li>
      <li>Integration of mapping systems.</li>
      <li>and more.</li>
    </ul>
    <p>The most common way of online integration systems is to use the REST API application interface and to exchange data using JSON. However, there are other methods.</p>
    <p>We like to use a system Apiary for the design, testing and API documentation.</p>
    <p><strong>Rely on experienced professionals with years of experience.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="projektove_rizeni" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Project management</h2>
    <p>The information system or web application development is a complicated process that requires connecting many professions, people, tasks, ideas, documents, etc. <br />It is not possible to achieve success without high quality project management, certainly not on time and not with the given budget.</p>
    <p>Our experienced project managers are available throughout the entire life cycle of the information system or web application development.</p>
    <p>We use various instruments, especially the system Redmine with its extensions for agile development or system JIRA to control our projects.</p>
    <p><strong>Rest assured that our project managers can control the whole project and that they can lead it to a successful result!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="vyvoj_pro_mobilni_zarizeni" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Development for mobile devices</h2>
    <p>We can not even imagine an information system, without a mobile access, today.</p>
    <p>We use special technologies for the development of the mobile applications (Cordova, Bootstrap, EmberJS). These technologies help us with the fast development and with the implementation of the requested changes.</p>
    <p><strong>The multiple platforms (Android, iPhone)  are an advantage of our technology's applicability to without having to generate a variety of applications. Saving at least 50% of the price!</strong></p>
    <p>Our mobile applications meet the main requirements:</p>
    <ul>
      <li>What are the easiest look to use in their daily work.</li>
      <li>Simple and fast operation.</li>
      <li>Easy and quick to make changes and adjustments in real time.</li>
      <li>Usually connected to the internal, or any other system.</li>
    </ul>
    <p>Whether you are developing a web only option information system or downright mobile app for Android or iPhone, always place emphasis on maximum comfort of the user application.</p>
    <p><strong>Be mobile systems from iQuest!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="integrace_mapoveho_subsystemu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Integrating mapping subsystem</h2>
    <p>Information systems can integrate a map servers, not only so that the display position on the map, but can also calculates the background of different values ​​and they appear to users.</p>
    <p>It provides a common connection to map servers following services:</p>
    <ul>
      <li>Calculate the distance from point A to point B on the road.</li>
      <li>Choosing the optimal route.</li>
      <li>Displaying the distance between two addresses.</li>
      <li>Converting GPS address and back.</li>
      <li>View points on the map with a resolution according to certain properties.</li>
      <li>Display the movement of people with smartphones on the map.</li>
      <li>View heatmap to represent values ​​in graphic form on the map.</li>
    </ul>
    <p>Session stitch can be various commercial mapping systems, eg. Commercial solutions Google Maps, maps of Mapy.cz or you can take the advantage open solutions, such as. OpenStreetMap.</p>
    <p><strong>Use your geographic data to the max!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="adaptace_uzivatelu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Adaptation of users</h2>
    <p>Deployment of a new information system will be far-reaching intervention into the work of all employees. To make the transition to a new enterprise system as simple and pleasant as possible, it is necessary to adapt the user in an appropriate manner. How do we ensure this?</p>
    <ul>
      <li>User already gaining for system design.</li>
      <li>Provide ongoing user testing.</li>
      <li>Users already familiar with the system during development.</li>
      <li>We let users the option of testing the system since the mock-up stage.</li>
      <li>Carefully we train the users and listen to their opinions.</li>
      <li>Users have access to a test environment where you can test the functionality.</li>
      <li>We emphasize training of users.</li>
    </ul>
    <p><strong>We are not just programmers. We have experience and we make software for people.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="provozovani_v_prostredi_cloudu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Operation in a cloud environment</h2>
    <p>After  busy designing and developing systems and applications, we want to make their performance, reliability and security was entrusted to the best of hands. Although we are able to operate our systems almost anywhere in the client's internal servers after regular hosting, the vast majority operate our Web applications and information systems in a cloud environment HEROK, built on the infrastructure of Amazon.Po demanding design and development of systems and applications, we want to make their performance, reliability and security was entrusted to the best of hands. Although we are able to operate our systems almost anywhere in the client's internal servers after regular hosting, the vast majority operate our Web applications and information systems in a cloud environment HEROK, built on Amazon's infrastructure.</p>
    <p>What does this solution bring to our customers and us?</p>
    <ul>
      <li>Maximum reliability and availability of systems.</li>
      <li>Flexibility of configuration settings (you can change the server capacity by simply moving the mouse).</li>
      <li>Charged according to actual consumed server performance according to its settings.</li>
      <li>No need admin servers from our side.</li>
      <li>Ability to turn on the various services (system monitoring, backup, various kinds of databases, etc.).</li>
      <li>The final price.</li>
    </ul>
    <p><strong>Bet on the reliability and professional solution!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="integrace_telefonni_ustredny_pro_hovory_a_sms" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Integration of telephone switchboard for calls and SMS</h2>
    <p>Connection information to the PBX makes your office a true call center. Just then simply connect the headset to a PC or use a common IP phone.</p>
    <p>Interconnection with PBX offers the following advantages:</p>
    <ul>
      <li>Ability to call directly via a button in the application.</li>
      <li>Ability to respond to an incoming call, for example. Opening a specific customer's card.</li>
      <li>Set different rules for incoming and outgoing calls.</li>
      <li>Ability to automatically direct the call to the appropriate person (ie. The associated merchant).</li>
      <li>Ability to automatically send SMS.</li>
      <li>Ability to receive SMS directly into the information system.</li>
      <li>Can the system track the history komunikace.</li>
      <li>The ability to see detailed statistics of calls and messages.</li>
      <li>much more.</li>
    </ul>
    <p><strong>Rely on experienced professionals!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>
