<div class="remodal" data-remodal-id="detailni_funkcni_procesni_a_datova_analyza" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Detailní, funkční, procesní a datová analýza</h2>
    <p>Extrémní péči věnujeme přípravě každého projektu. <br/>
    Než začneme cokoliv navrhovat či programovat, provádíme detailní analýzu řešeného prostředí, tedy  zejména podniku zákazníka.</p>
    <p>Systém pro nás není jen informační systém. Systém je celé řešené prostředí: lidé, úkoly, data, procesy, zákazníci, dodavatelé apod.</p>
    <p>Pro provádění analýzy využíváme jazyka UML (Unified Markup Language), který umožní schématickým způsobem přehledně zmapovat celé zkoumané prostředí.</p>
    <p><strong>Jen na základě detailní analýzy celého řešeného prostředí (podnik a jeho okolí) můžeme navrhnout dokonalý informační systém.</strong></p>
    <p>Pro analýzu využíváme moderní nástroje, zejména aplikaci <a href="https://www.visual-paradigm.com/">Visual Paradigm</a>.</p>
    <p>Mezi nejčastěji využívané modely patří:</p>
    <ul>
      <li>Business Process diagram.</li>
      <li>Use-case diagram.</li>
      <li>Class diagram.</li>
      <li>případně další dle potřeby.</li>
    </ul>
    <p><strong>Jsme analytici. Našim zákazníkům často poskytneme nový pohled na jejich vlastní podnik a jeho fungování.</strong></p>
    <p><strong>Chcete využít naše dovednosti a zkušenosti při analýze? Kontaktujte nás!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="navrh_informacniho_systemu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Návrh informačního systému</h2>
    <p>Zadání tvoří 50% úspěchu celého projektu. Programovat začínáme vždy až na základě precizní přípravy. </p>
    <p>Detailní projekt informačního systému obvykle s sebou nese:</p>
    <ul>
      <li>Uživatelská interview - diskuse se stávajícími/budoucími uživateli.</li>
      <li>Popis základních entit systému.</li>
      <li>Popis významného okolí systému.</li>
      <li>Katalog funkčních a nefunkční požadavků.</li>
      <li>Základní wireframy.</li>
      <li>Prototyp složený z vytvořených wireframů.</li>
      <li>Uživatelské testování prototypu.</li>
      <li>Specifikace uživatelských rolí.</li>
      <li>Návrh a popis způsobu integrace, aplikačního rozhraní.</li>
      <li>Plán integrace a integračních testů.</li>
      <li>Popis etap implementace.</li>
      <li>Popis hardwarové dimenze informačního systému.</li>
      <li>Plán implementace, školení, testování, uvádění do provozu.</li>
      <li>Detailní cenová kalkulace.</li>
      <li>Plán dalšího rozvoje a údržby.</li>
    </ul>
    <p><strong>Nechte si navrhnout Váš nový informační systém od zkušených odborníků.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="tvorba_analytickych_modelu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Tvorba analytických modelů</h2>
    <p>Vývoj informačního systému nespočívá pouze v programování. Nedílnou a velmi důležitou součástí je provedení detailní analýzy a návrhu systému.<br />Pro strukturovaný návrh systému slouží propracované diagramy UML (Unified markup language).</p>
    <p>Pro analýzu využíváme moderní nástroje, zejména aplikaci <a href="https://www.visual-paradigm.com/">Visual Paradigm</a>.</p>
    <p>Mezi nejčastěji využívané modely patří:</p>
    <ul>
      <li>Business Process diagram.</li>
      <li>Use-case diagram.</li>
      <li>Class diagram.</li>
      <li>případně další dle potřeby.</li>
    </ul>
    <p><strong>Jsme analytici. Našim zákazníkům často poskytneme nový pohled na jejich vlastní podnik a jeho fungování.</strong></p>
    <p><strong>Chcete využít naše dovednosti a zkušenosti při analýze? Kontaktujte nás!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="programovani" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Programování</h2>
    <p>Naši vývojáři jsou zkušení, precizní a vzdělaní.</p>
    <p>Pro vývoj složitých webových aplikací využíváme řadu vyspělých technologií, mezi něž patří:</p>
    <table>
      <tr>
        <td><strong>Backend:</strong></td>
        <td>Ruby on Rails</td>
      </tr>
      <tr>
        <td><strong>Frontent:</strong></td>
        <td>Ember, HTML5</td>
      </tr>
      <tr>
        <td><strong>Mobil:</strong></td>
        <td>Cordova</td>
      </tr>
    </table>
    <p>Při vývoji aplikací však využíváme řadu dalších technologií, které nám pomáhají vyvinout dokonalé, uživatelsky příjemné, rychlé a bezpečné webové informační systémy, webové a mobilní aplikace, a to obvykle velmi komplikované a náročné.</p>
    <p>Programování probíhá vždy po předchozím návrhu softwarové architektury zkušeným senior systémovým architektem. Na vývoji se podílí vždy řada členů našeho týmu, a to vždy na základě jejich specializace pro danou součást vyvíjené aplikace.</p>
    <p><strong>Spojte se s týmem vývojářů iQuest a spolehněte se, že vytvoří moderní a roubstní informační systém!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="systemova_integrace" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Systémová integrace</h2>
    <p>Automatická komunikace našich aplikací s jejich okolím je samozřejmostí. Každý systém má svou specializaci a nic by nemělo být programováno duplicitně.</p>
    <p>Naše informační systémy obvykle integrujeme s již hotovými aplikacemi zákazníka či třetích stran.<br/>Příkladem je:</p>
    <ul>
      <li>Integrace s účetním systémem.</li>
      <li>Integrace se skladovým systémem.</li>
      <li>Integrace s firemním intranetem.</li>
      <li>Aplikace s ERP či CRM systémem.</li>
      <li>Integrace na databáze podniku či třetích stran.</li>
      <li>Integrace dodavatelských či zákaznických systémů (automatické předávání objednávek, faktur, info o skladových zásobách apod...).</li>
      <li>Integrace dostupných internetových služeb.</li>
      <li>Integrace mapových systémů.</li>
      <li>a další.</li>
    </ul>
    <p>Nejobvyklejším způsobem on-line integrace systémů je využití aplikačního rozhraní REST API a výměna dat pomocí JSON. K dispozici jsou však i jiné metody.</p>
    <p>Pro návrh, testování a dokumentaci API využíváme rádi systém Apiary.</p>
    <p><strong>Spolehněte se na zkušené odborníky s dlouholetou praxí.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="projektove_rizeni" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Projektové řízení</h2>
    <p>Vývoj informačního systému či webové aplikace je velmi složitý proces, který vyžaduje propojení řady profesí, lidí, úkolů, myšlenek, dokumentů, atd. <br />Bez kvalitního projektového řízení není možné dosáhnout úspěchu, už vůbec ne v potřebném času a dodržení daného rozpočtu.</p>
    <p>Naši zkušení projektoví manageři jsou k dispozici po celou dobu životního cyklu vývoje informačního systému či ěebové aplikace.</p>
    <p>K řízení pojektů využíváme různé nástroje, zejména systém Redmine s jeho rozšířeními pro agilní vývoj nebo systém JIRA.</p>
    <p><strong>Spolehněte se, že naši projektoví manažeři uřídí celý projekt a dovedou ho k úspěšnému výsledku!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="vyvoj_pro_mobilni_zarizeni" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Vývoj pro mobilní zařízení</h2>
    <p>Bez mobilního přístupu k informačnímu systému si nelze dnes informační systém snad ani představit.</p>
    <p>Pro vývoj mobilních aplikací používáme speciální technologie (Cordova, Bootstrap, EmberJS), které nám pomáhají s rychlým vývojem a realizací změnových požadavků. </p>
    <p><strong>Výhodou našich technologií je použitelnost na více platformách (Android, iPhone) bez nutnosti tvořit různé aplikace. Úspora je minimálně 50% ceny!</strong></p>
    <p>Naše mobilní aplikace splňují hlavní náležitosti:</p>
    <ul>
      <li>Co nejjednodušší vzhled pro použití při každodenní práci.</li>
      <li>Jednoduché a rychlé ovládání.</li>
      <li>Snadné a rychlé provádění změn a úprav v reálném čase.</li>
      <li>Obvykle napojení na vnitrofiremní, či jiný systém.</li>
    </ul>
    <p>Ať už vyvíjíme pouze webovou variantu informačního systému nebo vysloveně mobilní aplikaci pro Android či iPhone, vždy klademe důraz na maximální komfort uživatelské použitelnosti.</p>
    <p><strong>Buďte mobilní se systémy od iQuest!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="integrace_mapoveho_subsystemu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Integrace mapového subsystému</h2>
    <p>Informační systémy lze integrovat z mapovými servery nejen tak, že zobrazíme pozice na mapě, ale lze též na pozadí dopočítávat různé hodnoty a ty zobrazovat uživatelům.</p>
    <p>Běžné poskytuje napojení na mapové servery tyto služby:</p>
    <ul>
      <li>Výpočet vzdálenosti z bodu A do bodu B po silnici.</li>
      <li>Výběr optimální trasy.</li>
      <li>Zobrazení vzdálenosti dvou adres.</li>
      <li>Převod GPS na adresu a zpět.</li>
      <li>Zobrazení bodů na mapě s rozlišením dle určitých vlastností.</li>
      <li>Zobrazení pohybu osob se smartphony na mapě.</li>
      <li>Zobrazení heatmap pro znázornění hodnot v grafické podobě na mapě.</li>
    </ul>
    <p>Napojovat lze různé komerční mapové systémy, jako je např. komerční řešení Google Map, mapových podkladů od Mapy.cz či je možné využí otevřená řešení, jako je např. OpenStreetMap.</p>
    <p><strong>Využijte Vaše geografická data na maximum!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="adaptace_uzivatelu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Adaptace uživatelů</h2>
    <p>Nasazení nového informačního systému bývá velkým zásahem do práce všech zaměstnanců firmy. Aby byl přechod na nový podnikový systém co nejjednodušší a nejpříjemnější, je potřeba uživatele vhodným způsobem adaptovat. Jak toto zajišťujeme?</p>
    <ul>
      <li>Uživatele přibíráme už k návrhu systému.</li>
      <li>Provádíme průběžné uživatelské testování.</li>
      <li>Uživatele seznamujeme se systémem již v průběhu vývoje.</li>
      <li>Necháváme uživatelům možnost zkoušení systému již od fáze makety.</li>
      <li>Pečlivě uživatele školíme a posloucháme jejich názory.</li>
      <li>Uživatelé mají k dispozici testovací prostředí, na kterém si mohou zkoušet funkcionalitu.</li>
      <li>Klademe důraz na tréninky uživatelů.</li>
    </ul>
    <p><strong>Nejsme jen programátoři. Máme zkušenosti a software děláme pro lidi.</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="provozovani_v_prostredi_cloudu" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Provozování v prostředí cloudu</h2>
    <p>Po náročném návrhu a vývoji systémů a aplikací chceme, aby jejich výkon, spolehlivost a bezpečnost byla svěřena do nejlepších rukou. Ačkoliv jsme schopní provozovat naše systémy téměř kdekoliv interních serverů klienta po běžné hostingy, z drtivé většiny provozujeme naše webové aplikace a informační systémy v cloudovém prostředí Heroku, postaveném na infrastruktuře Amazon.Po náročném návrhu a vývoji systémů a aplikací chceme, aby jejich výkon, spolehlivost a bezpečnost byla svěřena do nejlepších rukou. Ačkoliv jsme schopní provozovat naše systémy téměř kdekoliv interních serverů klienta po běžné hostingy, z drtivé většiny provozujeme naše webové aplikace a informační systémy v cloudovém prostředí Heroku, postaveném na infrastruktuře Amazon.</p>
    <p>Co nám i našim zákazníkům toto řešení přináší?</p>
    <ul>
      <li>Maximální spolehlivost a dostupnost systémů.</li>
      <li>Flexibilitu nastavení konfigurace (můžeme měnit kapacitu serverů pouhým pohybem myši).</li>
      <li>Účtování dle skutečně spotřebovaného výkonu serveru dle jeho nastavení.</li>
      <li>Bez nutnosti administrátora serverů z naší strany.</li>
      <li>Možnost zapnutí nejrůznějších služeb (monitoring systému, zálohování, různé druhy databází apod.)</li>
      <li>Výsledná cena.</li>
    </ul>
    <p><strong>Vsaďte na spolehlivost a profesionální řešení!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>

<div class="remodal" data-remodal-id="integrace_telefonni_ustredny_pro_hovory_a_sms" role="dialog">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2>Integrace telefonní ústředny pro hovory a SMS</h2>
    <p>Napojení informačního na telefonní ústřednu udělá z Vaší kanceláře opravdové callcentrum. Stačí pak pouze napojit sluchátka do počítače či využít běžný IP telefon.</p>
    <p>Propojení s ústřednou nabízí tyto výhody:</p>
    <ul>
      <li>Možnost volat přímo prostřednictvím tlačítka v aplikaci.</li>
      <li>Možnost reagovat na příchozí hovor, např. otevřením specifické karty zákazníka.</li>
      <li>Nastavovat různá pravidla pro příchozí a odchozí hovory.</li>
      <li>Možnost nasměrovat automaticky hovor na příslušného pracovníka (např. přiřazeného obchodníka).</li>
      <li>Možnost automatického odesílání SMS.</li>
      <li>Možnost přijímání SMS přímo do informačního systému.</li>
      <li>Možnost v systému sledovat historii komunikace./li>
      <li>Možnost sledovat detailní statistiky hovorů a zpráv.</li>
      <li>mnoho dalšího.</li>
    </ul>
    <p><strong>Spolehněte se na zkušené odborníky!</strong></p>
  </div>
  <br>
  <%= partial 'contact_us_modal' %>
</div>
