<div class="tags">
  <div class="offset">
    <% link_to t('urls.reservation_systems') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.reservation_systems') %></div>
    <% end  %>
    <% link_to t('urls.vendor_portals') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.vendor_portals') %></div>
    <% end %>
    <% link_to t('urls.crm_systems') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.crm_systems') %></div>
    <% end %>
    <% link_to t('urls.web_dispatching') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.web_dispatching') %></div>
    <% end %>
    <% link_to t('urls.information_portals') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.information_portals') %></div>
    <% end %>
    <% link_to t('urls.people_organization') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.people_organization') %></div>
    <% end %>
    <% link_to t('urls.communication_applications') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.communication_applications') %></div>
    <% end %>
    <% link_to t('urls.ordering_systems') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.ordering_systems') %></div>
    <% end %>
    <% link_to t('urls.databases') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.databases') %></div>
    <% end %>
    <% link_to t('urls.order_management') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.order_management') %></div>
    <% end %>
    <% link_to t('urls.facebook_applications') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.facebook_applications') %></div>
    <% end %>
    <% link_to t('urls.b2b_portals') do %>
      <div class="tag" data-aos="fade-up"><%= t('kinds_of_products.b2b_portals') %></div>
    <% end %>
  </div>
</div>
